.header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
}
.header div {
    flex: 1;
    outline: 2px solid red;
    margin: 15px;
    padding: 3px;
}
.header .one{
    font-size: 24px;
}
.header .two {
    display: flex;
}
